[submodule "resources/js-modules"]
	path = resources/js-modules
	url = git://github.com/rosenfeld/js-modules.git
[submodule "resources/jquery-bbq"]
	path = resources/jquery-bbq
	url = git://github.com/cowboy/jquery-bbq.git
